/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
    .donate {
        border: none;
        margin-left: 13%;
        margin-top: 3%;
    }
    .eh {
        height: 88%;  
    }
    .page-section .page-section-heading {
        margin-bottom: 4%;
    }
    #open_donate_box {
        margin-left: 41%;
        color: black;
    }
    .h2 , h4, h3{
        width: 100%;
    }
    form {
        margin-top:11%;
    }
    #output {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 3%;
    }

    .warning{
        position: absolute;
        margin-top: 6%;
    }
    .b1 {
        width: 30.3%;
        text-align: center;
        margin: 1%;
    }

    .don_b {
        border: 1px solid black;
        background-color: #ffdc44;
        border-radius: 10px;
        color: black;
        padding: 1%;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition-duration: 0.3s;
        margin-left: 30%;
        margin-top: 2%;
        width: 41%;
    }
    /* #open_donate_box {
        width: 56%;
        margin-top: 14%;
    } */
    .don_b:hover {
        text-decoration: none;
        background-color: #388cf4;
        color: black;
    }

    #donate_box {
        display: none;
        padding: 10px;
        cursor: default;
        width: 110%;
        margin-left: -6%;
        margin-top: 1%;
    } 
    form {
        margin-top: 5%;
    }
    .h4{
        width: 100%;
    }

@media(max-width: 750px) {
    .b1 {
        width: 78%;
        margin-top: 13%;
        text-align: center;
    }
    .h3 {
        width: 78%;
    }
    #open_donate_box {
        margin-left: 15%;
    }
    .row {
        flex-wrap: wrap;
        display: block;
        margin-left: -6%;
    }
    .hide {
        display: none;
    }
    .donate {
        position: absolute;
        left: 13%;
        padding: 5%;
    }
    .b3 {
        width: 78%;
    }
    .h4 {
        width: 124%;
    }
    form {
        margin-top: 26%;
    }
    .don_b {
        display: block;
        width: 70%;
        margin-left: 15%;
    }
    .b2 {
        width: 80%;
        margin-left: 10%;
    }
    form {
        margin-top: 32%;
    }
}

@media(min-width: 760px) and (max-width: 999px){
    .don_b {
        display: block;
        width: 60%;
        margin-left: 22%;
    }
    .donate{
        margin-left: 4%;
        position: absolute;
        left: 20%;
        padding: 3%;
    }
    .don_b#open_donate_box {
        width: 98%;
        margin-top: 14%;
    }
    form {
        margin-top: 16%;
    }
    .page-section {
        padding-bottom: 8rem;
    }
    .h2 {
        display: none;
    }
    .b3{
        width: 50%;
    }
    .h3 {
        width: 0%;
    }
    .h4 {
        width: 135%;
    }
}